<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/progress">Progress</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/diets">Diets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact dietician</a>
        </li>
      </ul>
      <a class="btn btn-secondary my-2 my-sm-0" href="/users/logout" >Logout</a>
    </div>
  </nav>

  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Cras justo odio
      <span class="badge badge-primary badge-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Dapibus ac facilisis in
      <span class="badge badge-primary badge-pill">2</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Morbi leo risus
      <span class="badge badge-primary badge-pill">1</span>
    </li>
  </ul>